#label_prompt_window {
    align-items: center;
    display: grid;
    justify-items: center;
    /* Feel free to change if not fit (too bright or doesn't match with main theme) */
    height: 5cm;
    width: 12cm;
    margin: auto;
    border-style: solid;
}