/* the style of the whole project */
body {
  margin: 0;
  font-family: "Lexend", sans-serif;
  line-height: 100%;
}

/* the style of the "click somewhere else to close the window" function blocker */
#blocker {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  z-index: -2;
  pointer-events: none;
  opacity: 0%;
  background-color: white;
}

/* the style of sidebar */
.sidenav {
  height: 100%;
  width: min-content;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(233, 233, 233);
  line-height: 5;
  position: fixed;
  z-index: 31;
}

/* the style of all the icons or buttons */
#icon {
  font-size: 36px;
  color: rgb(15, 25, 36);
  float: left;
  display: block;
  height: 56px;
  margin: 10px 19px 28px 19px;
  line-height: 100%;
  z-index: 28;
  -moz-transition: all 0.2s; 
  -webkit-transition: all 0.2s; 
  -o-transition: all 0.2s; 
  transition: all 0.2s; 
}

/* the style of the setting button */
#settingIcon {
  font-size: 36px;
  color: rgb(15, 25, 36);
  float: left;
  display: block;
  position: fixed;
  height: 36px;
  left: 19px;
  margin-bottom: 50px;
  line-height: 100%;
  z-index: 28;
  transform: rotate(0deg);
  -moz-transition: all 0.5s; 
  -webkit-transition: all 0.5s; 
  -o-transition: all 0.5s; 
  transition: all 0.5s; 
  z-index: 30;
}

/* the style of icons inside the page with smaller size */
#addLabel {
  font-size: 20px;
  color: rgb(48, 48, 48);
  float: left;
  display: block;
  height: 50px;
  margin: 16px 19px 0 19px;
  line-height: 100%;
  -moz-transition: all 0.2s; 
  -webkit-transition: all 0.2s; 
  -o-transition: all 0.2s; 
  transition: all 0.2s; 
}

/* the style of lastYear button */
#lastYear {
  font-size: 36px;
  color: rgb(48, 48, 48);
  float: left;
  display: block;
  height: 50px;
  margin: 17px 18px 0 18px;
  line-height: 100%;
}

/* the style of nextYear button */
#nextYear {
  position: absolute;
  right: 0px;
  font-size: 36px;
  color: rgb(48, 48, 48);
  float: left;
  display: block;
  height: 50px;
  margin: 17px 18px 0 18px;
  line-height: 100%;
}

/* change color of buttons when hovering */
#icon:hover {
  color: rgb(11, 110, 134);
}

#settingIcon:hover {
  color: rgb(11, 110, 134);
}

#addLabel:hover {
  color: rgb(11, 110, 134);
}

#lastYear:hover {
  color: rgb(11, 110, 134);
}

#nextYear:hover {
  color: rgb(11, 110, 134);
}

/* import the team icon */
.team-icon {
  content: url("../../../admin/branding/slack-icon-removebg-ver2.png");
  height: 64px;
  width: 64px;
  margin-top: 5px;
  margin-left: 5px;
}

/* the style of Equinox logo */
#equinox {
  margin: 28px auto;
  font-size: 40px;
  font-weight: 900;
  letter-spacing: 4px;
  color:rgb(45, 57, 65);
  text-shadow: rgb(167, 187, 189) 3px 3px 3px;
}

/* the style of the landing page (unfinished) top bar */
#topBar {
  margin-top: 0;
  margin-left: 74px;
  font-family: 'Lexend', sans-serif;
  display: flex;
  background-color: rgb(242, 253, 255);
}

/* the style of the editing page top bar */
#editingTopBar {
  margin-top: 0;
  margin-left: 74px;
  height: 74px;
  font-family: 'Lexend', sans-serif;
  display: flex;
  background-color: rgb(242, 253, 255);
}

/* listing all elements from left to right */
#topBar > * {
  margin-left: 0;
  float: left;
}

/* the style of landing page (unfinished) date block */
#topDateBlock {
  width: max-content;
  background-color: darkgrey;
  line-height: 200%;
}

#topDateBlock > * {
  margin: 19px 12px;
  float: left;
  font-size: 30px;
}

/* the style of the date selector or calendar */
#dateSelector {
  width: 210px;
  font-size: 28px;
  position: fixed;
  left: 74px;
  top: 74px; 
  -moz-transition: all 0.5s; 
  -webkit-transition: all 0.5s; 
  -o-transition: all 0.5s; 
  transition: all 0.5s; 
  margin-left: -210px;
  z-index: 30;
}

/* the style of the button to expand the dateSelector */
#selectorExp {
  position: relative;
  top: 42px;
  left: 220px;
  font-weight: bold;
  font-size: 16px;
  color: rgb(0, 0, 0);
  display: block;
  height: 16px;
  width: 16px;
  line-height: 100%;
  z-index: 28;
  transform: rotate(0deg);
  -moz-transition: all 0.5s; 
  -webkit-transition: all 0.5s; 
  -o-transition: all 0.5s; 
  transition: all 0.5s; 
  margin-left: -220px;
}

#selectorExpBlock {
  height: 100px;
  width: 16px;
  background-color: #b8d8e2;
  position: relative;
  left: 210px;
  top: -50vh;
  -moz-transition: all 0.5s; 
  -webkit-transition: all 0.5s; 
  -o-transition: all 0.5s; 
  transition: all 0.5s; 
}

#selectorExpBlock:hover {
  background-color: #4a6d70;
}

#selectorExpBlock:hover i {
  color: #ffffff;
}

/* the style of the year shown in dateSelector */
#year {
  height: 70px;
  background-color: rgb(229, 241, 240);
  line-height: 100%;
  width: 210px;
}

#year > * {
  float: left;
  margin-bottom: 0;
}

#yearNum {
  position: absolute;
  left: 74px;
  margin-top: 22px;
}

/* the style of the month selector in dateSelector */
#month {
  height: 70px;
}

#monthSelector {
  font-size: 28px;
  font-family: 'Lexend', sans-serif;
  width: 210px;
  height: 70px;
  background-color: rgb(201, 218, 216);
  border-width: 0;
  padding: 0 0 0 20px;
}

/* the style of all the days listed in dateSelector */
.dayList {
  width: 210px;
  overflow-y: scroll;
  height: calc(100vh - 214px);
  position: relative;
}

/* the style of the scrollbar of the dayList */
.dayList::-webkit-scrollbar-track {
  background-color: #F5F5F5;
}

.dayList::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5;
}

.dayList::-webkit-scrollbar-thumb {
  background-color: #000000;
}

/* the style of one day's texts */
.oneDay {
  height: 60px;
  background-color: rgb(229, 241, 240);
  -moz-transition: all 0.2s; 
  -webkit-transition: all 0.2s; 
  -o-transition: all 0.2s; 
  transition: all 0.2s; 
}

.oneDay:hover {
  background-color: #b9c9c4;
}

.oneDayActive{
  background-color: #9dacaf;
  text-shadow: rgb(255, 255, 255) 2.5px 2.5px 2.5px;
}

.oneDay > * {
  float: left;
  margin: 22px 20px 0 20px;
}

.oneDay:hover { 
  text-shadow: rgb(255, 255, 255) 1.5px 1.5px 1.5px;
}   

/* the style of the week day in oneDay */
.weekday {
  position: absolute;
  left: 5px;
}

/* the style of the month day in oneDay */
.monthday {
  position: absolute;
  right: 8px;
}

/* the style of the label system and its animation */
.labels { 
  width: max-content;
  margin: 0 0 0 16px;
  clear: both;
  text-align: left;
  font-size: 8px;
  height: 50px;
}   

.labels a { 
  line-height: 20px; 
  height: 20px; 
  display: inline-block; 
  background: #fff; 
  padding: 5px 20px; 
  margin: 0px 5px; 
  border-radius: 30px; 
  -moz-transition: all 0.5s; 
  -webkit-transition: all 0.5s; 
  -o-transition: all 0.5s; 
  transition: all 0.5s; 
}   

.labels a { 
  color: #FFF; 
  font-family: 'Lexend', sans-serif; 
  text-decoration: none; 
  font-size: 24px;
}   

.labels a:hover { 
  border-radius: 10px; 
  text-shadow: #000 2px 2px 2px;
}   

/* the preset colors of labels */
.labels .pcolor a:nth-child(8n-7) { background: #44a2b9 }   
.labels .pcolor a:nth-child(8n-6) { background: #cc826b }   
.labels .pcolor a:nth-child(8n-5) { background: #6cd8d1 }   
.labels .pcolor a:nth-child(8n-4) { background: #d47889 }   
.labels .pcolor a:nth-child(8n-3) { background: #866766 }   
.labels .pcolor a:nth-child(8n-2) { background: #c7b373 }   
.labels .pcolor a:nth-child(8n-1) { background: #C8C8A9 }   
.labels .pcolor a:nth-child(8n) { background: #a2dfc3 }   
.labels .pcolor a:first-child { background: #6db6b5 }   
.labels .pcolor a:last-child { background: #7cbed4 }

.pcolor {
  margin: 10px 0;
}

/* the style of the main editing page content */
#mainPage {
  font-family: 'Lexend', sans-serif;
  margin-left: 74px;
}

/* the style of bullet notes content area */
.noteBlock {
  width: calc(100vw - 178px);
  background-color: rgb(225, 238, 243);
  margin: 32px 20px;
  padding: 1px 32px;
}

.dailyDate {
  font-size: 50px;
  font-weight: bold;
}

.dailyNote {
  font-size: 28px;
}

#editingMainPage {
  position: relative;
  left: 74px;
  top: 30px;
  width: calc(100vw - 74px);
  -moz-transition: all 0.5s; 
  -webkit-transition: all 0.5s; 
  -o-transition: all 0.5s; 
  transition: all 0.5s; 
}

/* the style of editing page top bar including the logo */
#editingTopBar {
  line-height: 100%;
  height: 74px;
  margin-top: 0;
  margin-left: 0;
  font-family: 'Lexend', sans-serif;
  display: flex;
  background-color: rgb(244, 252, 255);
}

/* the style of main page top bar */
#mainPageTopBar {
  line-height: 100%;
  height: 50px;
  width: calc(100vw - 74px);
  margin-top: 0;
  margin-left: 0;
  font-family: 'Lexend', sans-serif;
  background-color: rgb(225, 238, 243);
  position: fixed;
  left: 74px;
  top: 74px;
  display: flex;
  float: left;
  z-index: 1;
}

/* the style of editor area */
#editor {
  width: cal(100vw - 74px);
}

/* the style of editor scroll bar */
#editor::-webkit-scrollbar-track {
  background-color: #e4d9d9;
}

#editor::-webkit-scrollbar {
  width: 6px;
  background-color: #e4d9d9;
}

#editor::-webkit-scrollbar-thumb {
  background-color: #000000;
}

/* the style of voice memo area */
#voiceArea {
  align-items: center;
  display: grid;
  justify-items: center;
  height: 5cm;
}

/* the style of setting menu */
.sidepanel {
  height: 120px; /* Specify a height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 31; /* Stay on top */
  bottom: 0;
  left: 74px;
  background-color: rgb(146, 163, 162); /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 65px; /* Place content 60px from the top */
  padding-bottom: 30px;
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
}

.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #000000;
  display: block;
  transition: 0.3s;
}

.settingLine {
  display: block;
  height: 60px;
}

.settingLine > * {
  float: left;
  clear: left;
}

/* The switch - the box around the slider */
.switch {
  position: absolute;
  right: 50px;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: rgb(189, 189, 189);
-webkit-transition: .4s;
transition: .4s;
}

.slider:before {
position: absolute;
content: "";
height: 26px;
width: 26px;
left: 4px;
bottom: 4px;
background-color: white;
-webkit-transition: .4s;
transition: .4s;
}

input:checked + .slider {
background-color: #7ac3ff;
}

input:focus + .slider {
box-shadow: 0 0 1px #7ac3ff;
}

input:checked + .slider:before {
-webkit-transform: translateX(26px);
-ms-transform: translateX(26px);
transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
border-radius: 34px;
}

.slider.round:before {
border-radius: 50%;
}

/* the style of the language switch selector */
#languageSelector {
font-size: 25px;
font-family: 'Lexend', sans-serif;
width: 250px;
height: 40px;
background-color: rgb(204, 204, 204);
border-width: 0;
position: absolute;
right: 50px;
border-radius: 10px;
}

/* the style of the function area on the right bottom side */
#addition {
  z-index: 10;
}

/* the style of the add button */
#additionThreeDots {
  font-size: 36px;
  color: rgb(48, 48, 48);
  height: 36px;
  margin: 10px;
  line-height: 100%;
  position: fixed;
  right: 50px;
  bottom: 50px;
  z-index: 15;
  opacity: 100%;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  transform: rotate(0deg);
}

#additionThreeDots:hover {
  color: rgb(18, 123, 141);
}

/* the style of first expansion after clicking the add button */
#additionFirstExp {
  position: absolute;
  cursor: pointer;
  bottom: 110px;
  right: 50px;
  width: 56px;
  height: 0;
  z-index: 10;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  text-align: center;
}

#additionFirstExp > * {
  font-size: 36px;
  color: rgb(48, 48, 48);
  height: 0;
  margin: 10px;
  line-height: 160%;
  z-index: 8;
  opacity: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

/* the style of Microphone in use icon */
#additionMicrophoneClose {
  z-index: -1;
  pointer-events: none;
  position: fixed;
  bottom: 159px;
  right: 50px;
}

#additionFirstExp > *:hover {
  color: rgb(18, 123, 141);
}

/* the style of the second expansion after clicking the microphone button */
#additionSecondExp {
  width: 0;
  z-index: 10;
}

#additionSecondExp > * {
  position: absolute;
  cursor: pointer;
  bottom: 112px;
  right: 110px;
  font-size: 36px;
  color: rgb(48, 48, 48);
  height: 36px;
  margin: 10px;
  line-height: 100%;
  z-index: 10;
  opacity: 0;
  -webkit-transition: .4s;
  transition: .4s;
}

#additionSecondExp > *:hover {
  color: rgb(18, 123, 141);
}

/* the style of the stop recording button */
#additionRecordStop {
  pointer-events: none;
  color: red;
}

/* the style of the voice memo ui area */
#voiceArea {
  z-index: -5;
  position: fixed;
  height: 150px;
  width: 350px;
  background-color: white;
  right: 120px;
  bottom: 20px;
  opacity: 0;
  -webkit-transition: .4s;
  transition: .4s;
  pointer-events: none;
}

/* the style of the recording timer */
#timer {
  position: fixed;
  right: 188px;
  bottom: 55px;
  z-index: -3;
  font-size: 24px;
  width: max-content;
  height: 100px;
  margin: 0;
  display: block;
}

#audio-element {
  position: absolute;
  right: 0;
  bottom: 30px;
  z-index: 15;
}

#contentArea {
  position: relative;
}

/* the style of "sec" word after recording starts */
#sec {
  position: fixed;
  right: 160px;
  bottom: 128px;
  color: #6db6b5;
  opacity: 0;
  z-index: -3;
}