dbody{
    background: rgb(233,233,233);
    height: 100%;
    padding:3em;
    font-family: 'Montserrat';
}

#editorjs {
    background: white;
    max-width: 750px;
}

button { 
    background: rgb(0,174,255);
    color: white;
    border: none;
    border-radius: 10px;
    text-transform: uppercase;
    padding: 1em;
    margin-top: 1em;
}

button:hover {
    cursor: pointer;
    opacity: 0.5;
}